{% import "macros/head.html" as head -%}
{% import "macros/opengraph.html" as social -%}
{% import "macros/hooks.html" as hooks -%}
{% import "macros/images.html" as images -%}
{% import "macros/icons.html" as icons -%}
<!DOCTYPE html>
<html lang="en" prefix="og:https://ogp.me/ns#">

<head>
    {%- block general_meta -%}
    {{ head::general_meta() }}
    {%- endblock general_meta -%}
    {%- block og_preview -%}
    {{ social::og_preview() }}
    {%-endblock og_preview -%}
    {% block rss -%}
    <link rel="alternate" type="application/rss+xml" title="{{config.title}}"
        href="{{ get_url(path='atom.xml',trailing_slash=false)|safe}}">
    {% endblock rss -%}
    <link rel="stylesheet" href="{{ get_url(path='base.css',trailing_slash=false)|safe}}">
</head>
{% set id = current_path | trim_start_matches(pat='/') | trim_end_matches(pat='/') | replace(from='/', to='--') -%}
{% if id -%}

<body id="{{ id }}">
    {% else -%}

    <body id="home">
        {% endif -%}
        <nav id="skip-nav" aria-label="Skip Navigation" aria-live="off" aria-atomic="false">
            <ul>
                <li><a href="#main">Skip to content</a></li>
                {% if page.toc -%}
                <li><a href="#toc">Skip to table of contents</a>
                    <ul>
                        {% for h1 in page.toc -%}
                        <li>
                            <a href="#{{ h1.id }}">{{ h1.title }}</a>
                            {% if h1.children -%}
                            <ul>
                                {% for h2 in h1.children -%}
                                <li>
                                    <a href="#{{ h2.id }}">{{ h2.title }}</a>
                                    {% if h2.children -%}
                                    <ul>
                                        {% for h3 in h2.children -%}
                                        <li>
                                            <a href="#{{ h3.id }}">{{ h3.title }}</a>
                                            {% if h3.children -%}
                                            <ul>
                                                {% for h4 in h3.children -%}
                                                <li>
                                                    <a href="#{{ h4.id }}">{{ h4.title }}</a>
                                                    {% if h4.children -%}
                                                    <ul>
                                                        {% for h5 in h4.children -%}
                                                        <li>
                                                            <a href="#{{ h5.id }}">{{ h5.title }}</a>
                                                            {% if h5.children -%}
                                                            <ul>
                                                                {% for h6 in h5.children -%}
                                                                <li>
                                                                    <a href="#{{ h6.id }}">{{ h6.title }}</a>
                                                                </li>
                                                                {% endfor -%}
                                                            </ul>
                                                            {% endif -%}
                                                        </li>
                                                        {% endfor -%}
                                                    </ul>
                                                    {% endif -%}
                                                </li>
                                                {% endfor -%}
                                            </ul>
                                            {% endif -%}
                                        </li>
                                        {% endfor -%}
                                    </ul>
                                    {% endif -%}
                                </li>
                                {% endfor -%}
                            </ul>
                            {% endif -%}
                        </li>
                        {% endfor -%}
                    </ul>
                </li>
                {% endif -%}
                <li><a href="#main-nav">Skip to navigation</a></li>
            </ul>
        </nav>
        <header>
            <a href="{{ config.base_url }}" title="{{ config.title }}">
                <h1>{{ config.title }}</h1>
                <p>{{ config.description }}</p>
            </a>
        </header>
        <nav id="main-nav" aria-label="Main Navigation">
            <ul>
                {% for menu_link in config.extra.menu_links -%}
                <li>
                    {% set link_url = menu_link.url | replace(from="$BASE_URL", to=config.base_url) -%}
                    <a {% if current_url and current_url==link_url %}class="active" {% endif %}
                        href="{{ link_url | safe}} ">{{menu_link.name}}</a>
                </li>
                {% endfor -%}
            </ul>
        </nav>
        <main id="main">
            {## __tera_context ##}
            {% block content -%}
            {% endblock -%}
        </main>
        <footer>
            <ul aria-label="links">
                {# Github #}
                {% if config.extra.link_github_username -%}
                <li>
                    <a href="https://github.com/{{ config.extra.link_github_username }}" title="Github" rel="me">
                        <span class="sr-only">Github</span>
                        <span aria-hidden="true">
                            {{ icons::icon(name="github") }}
                        </span>
                    </a>
                </li>
                {% endif -%}

                {# Mastadon #}
                {% if config.extra.link_mastodon_url -%}
                <li>
                    <a href="{{ config.extra.link_mastodon_url }}" title="Mastodon" rel="me">
                        <span class="sr-only">Mastodon</span>
                        <span aria-hidden="true">
                            {{ icons::icon(name="mastadon") }}
                        </span>
                    </a>
                </li>
                {% endif -%}

                {# Twitter #}
                {% if config.extra.link_twitter_username -%}
                <li>
                    <a href="https://twitter.com/{{ config.extra.link_twitter_username }}" title="Twitter" rel="me">
                        <span class="sr-only">Twitter</span>
                        <span aria-hidden="true">
                            {{ icons::icon(name="twitter") }}
                        </span>
                    </a>
                </li>
                {% endif -%}

                {# RSS feed #}
                <li>
                    <a href="{{ get_url(path='atom.xml',trailing_slash=false)|safe }}" title="{{config.title}}"><i
                            data-feather="rss"></i></a>
                </li>
            </ul>
            <p aria-label="info"> © {{ config.title }} {{ now() | date(format="%Y") }}

                {# If you remove the powered by information, it would be appreciated if
                you could add information & links somewhere else on your site to credit
                those that have created your tools. #}
                {% if config.extra.disable_powered_by and config.extra.disable_powered_by == true %}{% else
                %}<br>Powered by
                <a target="_blank" href="https://getzola.org/">Zola</a>. Theme: <a target="_blank"
                    href="https://github.com/jimmyff/zola-inky">Inky</a>.{% endif %}
            </p>
        </footer>
        {% block body_end -%}
        {% endblock body_end -%}
    </body>

</html>