{% extends "base.html" %}
{% block content %}
<hgroup>
  <date>{{ page.date | date(format='%Y-%m-%d')}}</date>
  {{ hooks::post_above_content(page=page) }}
  <h1>{{ page.title }} {% if page.draft %}<mark>Draft</mark>{% endif %}</h1>
</hgroup>
{% if page.toc -%}
<nav aria-labelledby="toc">
  <details aria-labelledby="toc" open="true">
    <summary id="toc">Table of contents</summary>
    <ol aria-labelledby="toc">
      {% for h1 in page.toc %}
      <li>
        <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
        {% if h1.children %}
        <ol>
          {% for h2 in h1.children %}
          <li>
            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
            {% if h2.children %}
            <ol>
              {% for h3 in h2.children %}
              <li>
                <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
                {% if h3.children %}
                <ol>
                  {% for h4 in h3.children %}
                  <li>
                    <a href="{{ h4.permalink | safe }}">{{ h4.title }}</a>
                    {% if h4.children %}
                    <ol>
                      {% for h5 in h4.children %}
                      <li>
                        <a href="{{ h5.permalink | safe }}">{{ h5.title }}</a>
                        {% if h5.children %}
                        <ol>
                          {% for h6 in h5.children %}
                          <li>
                            <a href="{{ h6.permalink | safe }}">{{ h6.title }}</a>
                          </li>
                          {% endfor %}
                        </ol>
                        {% endif %}
                      </li>
                      {% endfor %}
                    </ol>
                    {% endif %}
                  </li>
                  {% endfor %}
                </ol>
                {% endif %}
              </li>
              {% endfor %}
            </ol>
            {% endif %}
          </li>
          {% endfor %}
        </ol>
        {% endif %}
      </li>
      {% endfor %}
    </ol>
  </details>
</nav>
{% endif %}
{{ page.content | safe }}
{{ hooks::post_below_content(page=page) }}
{% if page.taxonomies is containing ("tags") %}
<section aria-labelledby="tags">
  <h1 id="tags">Tags</h1>
  <ul aria-labelledby="tags">
    {% for tag in page.taxonomies["tags"] %}
    <li aria-label="{{tag}}"><a href='{{ config.base_url | safe }}/tags/{{ tag | slugify }}'>{{ tag }}</a></li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{{ hooks::post_below_tags(page=page) }}

{% endblock content %}