{% extends "base.html" %} {% block content %}
<header>
  <h1>{{taxonomy.name | capitalize }}</h1>
  <h2>{{ term.name | capitalize }}</h2>
</header>
{% for year, posts in term.pages | group_by(attribute="year") %}
<section aria-labelledby="year-{{ year }}">
  <h1 id="year-{{ year }}">{{ year }}</h1>
  <ul aria-labelledby="year-{{ year }}">
    {% for post in posts %}
    <li aria-labelledby="post-{{ post.date }}-{{ post.slug }}-{{ loop.index }}">
      <a href="{{ post.permalink | safe }}" title="{{ post.title }}">
        <article class="h-entry">
          <header id="post-{{ post.date }}-{{ post.slug }}-{{ loop.index }}">
            <h1 class="p-name">{{ post.title }}</h1>
            {% if post.draft %}<mark>{{ trans(key="draft_label") }}</mark>{%
            endif %}
            <p>
              <date class="dt-published">
                {{ post.date | date(format='%Y-%m-%d') }}
              </date>
            </p>
            {%- if post.updated -%}
            <p>
              <date class="sr-only dt-updated">
                {{ post.updated | date(format='%Y-%m-%d') }}
              </date>
            </p>
            {%- endif -%}
          </header>
          {%- if post.description %}
          <p class="p-summary">{{ post.description }}</p>
          <p class="sr-only p-author h-card">
            {%- for author in post.authors -%}
            <span class="p-name">{{ author }}</span>
            {%- if not loop.last -%}, {% endif -%} {%- endfor -%}
          </p>
          <p class="sr-only u-url u-uid">{{ post.permalink | safe }}</p>
          {%- endif %} {% if post.taxonomies is containing ("tags") %}
          <footer>
            <ul aria-labelledby="tags" class="p-category">
              {% for tag in post.taxonomies["tags"] %}
              <li aria-label="{{tag}}" class="p-name">#{{ tag }}</li>
              {% endfor %}
            </ul>
          </footer>
          {% endif %} {{ hooks::posts_below_title(page=post) }}
        </article>
      </a>
      {{ hentry::hentry_json( name=post.title, summary=post.description,
      published=post.date, updated=post.updated, url=post.permalink,
      uid=post.permalink, authors=post.authors | default(value=[]),
      categories=post.taxonomies["tags"] | default(value=[]), ) }}
    </li>
    {% endfor %}
  </ul>
</section>
{% endfor %}{% endblock content %}
