:root {
  color-scheme: light dark;
}

body {
  font-family: "IBM Plex Mono", Menlo, "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", Consolas, "Lucida Console", Monaco, monospace;
}

main {
  padding: 2rem 1rem;
}

form legend {
  font-size: 1.5em;
  font-weight: bold;
}

form label {
  display: block;
  margin: 0.5em 0;
}
