{% macro obfuscate_mail_href() %}
href="mailto:invalid\(local)\part@example\.org"
{% endmacro %}

{% macro obfuscate_mail_data(local_part, domain_name, tld) %}
data-obfuscated-email="&#x3C;{{ local_part }}&#x40;&#8203;&#8203;{{ domain_name }}&#8203;&#x2E;&#8203;{{ tld }}&#x3E;"
{% endmacro %}

{% macro obfuscate_mail_text(local_part, domain_name, tld) %}
&#x3C;&#8203;&#8203;&#8203;&#8203;{{ local_part
}}&#8203;&#8203;&#8203;&#x40;{{ domain_name }}&#8203;&#x2E;&#8203;&#8203;{{
tld }}&#8203;&#8203;&#8203;&#x3E;
{% endmacro %}

{% macro obfuscate_mail(local_part, domain_name, tld, title="", css_class="") %}
<a {{ self::obfuscate_mail_href() }} {% if title %}title="{{ title }}" {% endif %} {%- if css_class
  %}class="{{ css_class }}" {% endif %} {{ self::obfuscate_mail_data(local_part=local_part, domain_name=domain_name,
  tld=tld)}}>
  {{ self::obfuscate_mail_text(local_part=local_part, domain_name=domain_name, tld=tld)}}
</a>
{% endmacro obfuscate_mail %}