{%- import "macros/hcard.html" as hcard %} {% macro hentry_html( name="",
summary="", content="", published="", updated="", url="", uid="", authors=false,
categories=false, syndication=false ) %} {%- set has_content = name or summary
or content or published or updated or url or uid or authors or categories or
syndication %} {%- if has_content %}
<div class="h-entry">
  {%- if name %}<div class="p-name">{{ name }}</div>{% endif %} {%- if summary
  %}<div class="p-summary">{{ summary }}</div>{% endif %} {%- if content %}<div
    class="e-content"
    >{{ content | safe }} </div
  >{% endif %} {%- if published %}<div class="dt-published"
    >{{ trans(key='hentry_published_label') }}<time datetime="{{ published }}"
      >{{ published | date(format="%Y-%m-%d %H:%M") }}</time
    ></div
  >{% endif %} {%- if updated %}<div class="dt-updated"
    >{{ trans(key='hentry_updated_label') }}<time datetime="{{ updated }}"
      >{{ updated | date(format="%Y-%m-%d %H:%M") }}</time
    ></div
  >{% endif %} {%- if url %}<div class="p-url"
    ><a class="u-url" href="{{ url }}"
      >{{ trans(key='hentry_permalink_label') }}</a
    ></div
  >
  {% endif %} {%- if uid %}<div class="p-uid">{{ uid }}</div>{% endif %} {%- if
  authors %}
  <div class="p-author">
    {%- for author_name in authors %} {{ hcard::hcard_html(is_author=true,
    name=author_name) }} {%- endfor %}
  </div>
  {%- endif %} {%- if categories %}
  <div class="p-category">
    {%- for category in categories %}
    <span class="p-category">{{ category }}</span>
    {%- endfor %}
  </div>
  {%- endif %} {%- if syndication %}
  <div class="p-syndication">
    {%- for synd_item in syndication %}
    <a class="u-syndication" href="{{ synd_item }}">{{ synd_item }}</a>
    {%- endfor %}
  </div>
  {%- endif %}
</div>
{%- endif %} {% endmacro hentry_html %} {% macro hentry_json( name="",
summary="", content="", published="", updated="", url="", uid="", authors=false,
categories=false, syndication=false ) %} {%- set has_content = name or summary
or content or published or updated or url or uid or authors or categories or
syndication %} {%- if has_content %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    {%- if name %}"headline": "{{ name }}",{% endif %}
    {%- if summary %}"description": "{{ summary }}",{% endif %}
    {%- if content %}"articleBody": "{{ content }}",{% endif %}
    {%- if published %}"datePublished": "{{ published }}",{% endif %}
    {%- if updated %}"dateModified": "{{ updated }}",{% endif %}
    {%- if url %}"url": "{{ url }}",{% endif %}
    {%- if uid %}"identifier": "{{ uid }}",{% endif %}
    {%- if authors %}"author": [{% for author_name in authors %}{%- if not loop.first %},{% endif %}{"@type": "Person", "name": "{{ author_name }}"}{% endfor %}],{% endif %}
    {%- if categories %}"keywords": [{% for category in categories %}{%- if not loop.first %},{% endif %}"{{ category }}"{% endfor %}],{% endif %}
    {%- if syndication %}"sameAs": [{% for synd_item in syndication %}{%- if not loop.first %},{% endif %}"{{ synd_item }}"{% endfor %}]{% endif %}
  }
</script>
{%- endif %} {% endmacro hentry_json %}
