<footer>
  <h2 id="footer-links" class="sr-only">{{ trans(key="footer_links") }}</h2>
  <ul aria-labelledby="footer-links">
    {# Github #} {% if config.extra.link_github_username -%}
    <li>
      <a
        href="https://github.com/{{ config.extra.link_github_username }}"
        title="{{ trans(key='footer_links_github_title') }}"
        rel="me"
      >
        <span class="sr-only">{{ trans(key="footer_links_github_text") }}</span>
        <span aria-hidden="true"> {{ icons::icon(name="brand-github") }} </span>
      </a>
    </li>
    {% endif -%} {# Mastadon #} {% if config.extra.link_mastodon_url -%}
    <li>
      <a
        href="{{ config.extra.link_mastodon_url }}"
        title="{{ trans(key='footer_links_mastodon_title') }}"
        rel="me"
      >
        <span class="sr-only"
          >{{ trans(key='footer_links_mastodon_text') }}</span
        >
        <span aria-hidden="true">
          {{ icons::icon(name="brand-mastodon") }}
        </span>
      </a>
    </li>
    {% endif -%} {# RSS feed #}
    <li>
      <a
        href="{{ get_url(path='atom.xml',trailing_slash=false)|safe }}"
        title="{{ trans(key='footer_links_atom_title') }}"
        rel="alternate"
      >
        <span class="sr-only">{{ trans(key='footer_links_atom_text') }}</span>
        <span aria-hidden="true"> {{ icons::icon(name="rss") }} </span>
      </a>
    </li>
  </ul>
  <h2 id="footer-info" class="sr-only">{{ trans(key="footer_info") }}</h2>
  <p aria-labelledby="footer-info">
    © {{ config.title }} {{ now() | date(format="%Y") }} {# If you remove the
    powered by information, it would be appreciated if you could add information
    & links somewhere else on your site to credit those that have created your
    tools. #} {% if config.extra.disable_powered_by and
    config.extra.disable_powered_by == true %}{% else %}<br />{{
    trans(key="footer_powered_by") }}
    <a
      title="{{ trans(key='footer_links_zola_title') }}"
      href="https://getzola.org/"
      >{{ trans(key="footer_links_zola_text") }}</a
    >. {{ trans(key="footer_theme") }}
    <a
      title="{{ trans(key='footer_links_theme_title') }}"
      href="https://github.com/exiguus/zola-monoplain"
      >{{ trans(key="footer_links_theme_text") }}</a
    >. {{ trans(key="footer_made") }}.{% endif %}<br />
    <i class="sr-only">Last update:</i> <small>{{ now() }}</small>
  </p>
</footer>
