{%- import "macros/hcard.html" as hcard -%} {%- if config.extra.hcard_enabled ==
true -%}
<div class="h-card-container">
  {{ hcard::hcard( name=config.extra.hcard_name | default(value=""),
  honorific_prefix=config.extra.hcard_honorific_prefix | default(value=""),
  given_name=config.extra.hcard_given_name | default(value=""),
  additional_name=config.extra.hcard_additional_name | default(value=""),
  family_name=config.extra.hcard_family_name | default(value=""),
  honorific_suffix=config.extra.hcard_honorific_suffix | default(value=""),
  nickname=config.extra.hcard_nickname | default(value=""),
  org=config.extra.hcard_org | default(value=""), photo=config.extra.hcard_photo
  | default(value=""), urls=config.extra.hcard_urls | default(value=[]),
  emails=config.extra.hcard_emails | default(value=[]),
  tels=config.extra.hcard_tels | default(value=[]),
  street_address=config.extra.hcard_street_address | default(value=""),
  locality=config.extra.hcard_locality | default(value=""),
  region=config.extra.hcard_region | default(value=""),
  region_title=config.extra.hcard_region_title | default(value=""),
  postal_code=config.extra.hcard_postal_code | default(value=""),
  country_name=config.extra.hcard_country_name | default(value=""),
  bday=config.extra.hcard_bday | default(value=""),
  category=config.extra.hcard_category | default(value=""),
  note=config.extra.hcard_note | default(value=""), ) }}
</div>
{%- endif -%}
