{% set section = get_section(path="posts/_index.md") %}
<section aria-labelledby="latest-posts">
  <h1 id="latest-posts">Latest Posts</h1>
  <ul aria-labelledby="latest-posts">
    {% for post in section.pages | slice(end=6) -%}
    <li aria-labelledby="post-{{ post.date }}-{{ post.slug }}-{{ loop.index }}">
      <a href="{{ post.permalink | safe }}" title="{{ post.title }}">
        <article>
          <hgroup id="post-{{ post.date }}-{{ post.slug }}-{{ loop.index }}">
            <h1>{{ post.title }}</h1>
            {% if post.draft %}<mark>{{ trans(key="draft_label") }}</mark>{% endif %}
            <p>
              <date>
                {{ post.date | date(format='%Y-%m-%d') }}
              </date>
            </p>
          </hgroup>
          <p>{{ post.description }}</p>
          {{ hooks::posts_below_title(page=post) }}
        </article>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>