{%- import "macros/hentry.html" as hentry -%} {% set section =
get_section(path="posts/_index.md") %} {% if section.pages | length > 0 %}
<section aria-labelledby="latest-posts">
  <h1 id="latest-posts">{{ trans(key='latest_posts_title') }}</h1>
  <ul aria-labelledby="latest-posts">
    {% set_global imageCount = 0 -%} {% set imageCountMax = 6 -%} {% for post in
    section.pages -%} {% set_global imageCount = imageCount + 1 -%} {% if
    imageCount > imageCountMax -%}{% break -%}{% endif -%}
    <li aria-labelledby="post-{{ post.date }}-{{ post.slug }}-{{ loop.index }}">
      <a href="{{ post.permalink | safe }}" title="{{ post.title }}">
        <article class="h-entry">
          <header id="post-{{ post.date }}-{{ post.slug }}-{{ loop.index }}">
            <h1 class="h-name">{{ post.title }}</h1>
            {% if post.draft %}<mark>{{ trans(key="draft_label") }}</mark>{%
            endif %}
            <p>
              <date class="dt-published">
                {{ post.date | date(format='%Y-%m-%d') }}
              </date>
              {%- if post.updated -%}
              <date class="sr-only dt-updated">
                {{ post.updated | date(format='%Y-%m-%d') }}
              </date>
              {%- endif -%}
            </p>
            <p class="sr-only p-author h-card">
              {%- for author in post.authors -%}
              <span class="p-name">{{ author }}</span>
              {%- if not loop.last -%}, {% endif -%} {%- endfor -%}
            </p>
            <p class="sr-only p-category">
              {%- set tags = post.taxonomies['tags'] -%} {%- for tag in tags -%}
              <span class="p-name">#{{ tag }}</span>
              {%- if not loop.last -%}, {% endif -%} {%- endfor -%}
            </p>
            <p class="sr-only u-url u-uid">{{ post.permalink | safe }}</p>
          </header>
          <p class="e-summary">{{ post.description }}</p>
          {{ hooks::posts_below_title(page=post) }}
        </article>
      </a>
      {{ hentry::hentry_json( name=post.title, summary=post.description,
      published=post.date, updated=post.updated, url=post.permalink,
      uid=post.permalink, authors=post.authors | default(value=[]),
      categories=post.taxonomies["tags"] | default(value=[]), ) }}
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}
