<nav id="main-nav" aria-label="{{ trans(key='mainNav_label') }}">
  <ul>
    {% for menu_link in config.extra.menu_links -%}
    <li>
      {% set link_url = menu_link.url | replace(from="$BASE_URL",
      to=config.base_url) -%} {% set is_active = current_url and current_url ==
      link_url -%} {% if is_active -%}
      <a class="active" href="{{ link_url | safe }}"> {{ menu_link.name }} </a>
      {% else -%} {% if menu_link.rel -%}
      <a href="{{ link_url | safe }}" rel="{{ menu_link.rel }}">
        {{ menu_link.name }}
      </a>
      {% else -%}
      <a href="{{ link_url | safe }}"> {{ menu_link.name }} </a>
      {% endif -%} {% endif -%}
    </li>
    {% endfor -%}
  </ul>
</nav>
