{%- import "macros/hcard.html" as hcard -%}
{%- import "macros/hentry.html" as hentry -%}
<header>
  {{ hooks::post_above_content(page=page) }}

  <h1 class="p-name">
    {{ page.title }}
    {% if page.draft %}
    <mark>{{ trans(key='draft_label') }}</mark>
    {% endif %}
  </h1>

  <p>
    {{ trans(key='post_created_label') }}
    <date class="dt-published">{{ page.date | date(format='%Y-%m-%d') }}</date>
  </p>

  {%- if page.updated -%}
  {%- if config.extra.post_update_visible -%}
  <p>
    {%- else -%}
  <p class="sr-only">
    {%- endif -%}
    {{ trans(key='post_updated_label') }}
    <date class="dt-updated">{{ page.updated | date(format='%Y-%m-%d') }}</date>
  </p>
  {% endif %}

  <p class="sr-only">
    <a href="{{ page.permalink }}" class="u-url">{{ trans(key='post_permalink_label') }}</a>
  </p>

  {%- if page.authors %}
  {%- if page.authors | length > 1 %}
  <div {% if not config.extra.post_author_visible %} class="sr-only" {% endif %}
    aria-label="{{ trans(key='post_author_aria_label' | default(value='Authors')) }}">
    <p>{{ trans(key='post_author_prefix') }}</p>
    <ul aria-label="{{ trans(key='post_author_aria_label' | default(value='Author')) }}">
      {%- for author in page.authors %}
      {%- set name = author | default(value="") -%}
      <li>
        {{ hcard::hcard_html(
        name=name | default(value=""),
        honorific_prefix=honorific_prefix | default(value=""),
        given_name=given_name | default(value=""),
        additional_name=additional_name | default(value=""),
        family_name=family_name | default(value=""),
        honorific_suffix=honorific_suffix | default(value=""),
        nickname=nickname | default(value=""),
        org=org | default(value=""),
        photo=photo | default(value=""),
        urls=urls | default(value=[]),
        emails=emails | default(value=[]),
        tels=tels | default(value=[]),
        street_address=street_address | default(value=""),
        locality=locality | default(value=""),
        region=region | default(value=""),
        region_title=region_title | default(value=""),
        postal_code=postal_code | default(value=""),
        country_name=country_name | default(value=""),
        bday=bday | default(value=""),
        category=category | default(value=""),
        note=note | default(value="")
        ) }}
      </li>
      {%- endfor %}
    </ul>
  </div>

  {%- else %}
  <div {% if not config.extra.post_author_visible %} class="sr-only" {% endif %}
    aria-label="{{ trans(key='post_author_aria_label' | default(value='Author')) }}">
    <span>{{ trans(key='post_author_prefix') }}</span>
    {%- for author in page.authors %}
    {%- set name = author | default(value="") %}
    {{ hcard::hcard_html(
    name=name | default(value=""),
    honorific_prefix=honorific_prefix | default(value=""),
    given_name=given_name | default(value=""),
    additional_name=additional_name | default(value=""),
    family_name=family_name | default(value=""),
    honorific_suffix=honorific_suffix | default(value=""),
    nickname=nickname | default(value=""),
    org=org | default(value=""),
    photo=photo | default(value=""),
    urls=urls | default(value=[]),
    emails=emails | default(value=[]),
    tels=tels | default(value=[]),
    street_address=street_address | default(value=""),
    locality=locality | default(value=""),
    region=region | default(value=""),
    region_title=region_title | default(value=""),
    postal_code=postal_code | default(value=""),
    country_name=country_name | default(value=""),
    bday=bday | default(value=""),
    category=category | default(value=""),
    note=note | default(value="")
    ) }}
    {% if not loop.last %},{% endif %}
    {%- endfor %}
  </div>
  {%- endif %}
  {%- endif %}

  {%- if page.extra.hero_img is defined and page.extra.hero_img %}
  {%- set hero_alt = page.extra.hero_alt |
  default(value=page.description | default(value=page.title)) | striptags %}
  {%- set hero_copy = page.extra.hero_copy | default(value="") | striptags %}

  <figure>
    <div class="hero">
      {{ images::responsive_image(
      path=page.path,
      src=page.extra.hero_img,
      alt=hero_alt,
      default_size=384,
      sizes=[256, 384, 512, 576, 640, 768, 1024, 1152]
      ) }}
    </div>

    {%- if hero_copy is defined and hero_copy %}
    <p>{{ trans(key='post_hero_copy') }} {{ hero_copy | safe }}</p>
    {%- endif %}

    <figcaption id="post-image-{{ page.date }}-{{ page.slug }}">
      <p>{{ page.description | safe }}</p>
      <p>{{ hero_alt | safe }}</p>
    </figcaption>
  </figure>
  {%- endif %}

  {% include "components/toc.html" %}

  {{ hentry::hentry_json(
  name=page.title,
  summary=page.description | default(value=""),
  content=page.content | default(value=""),
  published=page.date,
  updated=page.updated | default(value=""),
  url=page.permalink,
  uid=page.permalink,
  author=page.authors | default(value=[]),
  categories=page.taxonomies["tags"] | default(value=[]),
  syndication=page.extra.syndication | default(value=[])
  ) }}
</header>