{%- import "macros/hentry.html" as hentry -%} {% set section_posts =
get_section(path="posts/_index.md") -%} {% set pages = section_posts.pages -%}
<section aria-labelledby="latest-images">
  <h1 id="latest-images">{{ trans(key='latest_images_title') }}</h1>
  <ul aria-labelledby="latest-images">
    {% set_global imageCount = 0 -%} {% set imageCountMax = 6 -%} {% for post in
    pages %} {% if post.extra.images -%} {% for image in post.extra.images -%}
    {# { set image = resize_image(path=post.path ~ image, width=256, height=256,
    format=config.extra.image_format, quality=config.extra.thumbnail_quality) %}
    #} {% set_global imageCount = imageCount + 1 -%} {% if imageCount >
    imageCountMax -%}{% break -%}{% endif -%}
    <li
      aria-labelledby="post-image-{{ post.date }}-{{ post.slug }}-{{ loop.index }}"
    >
      <a
        href="{{ post.permalink | safe }}"
        title="{{ post.title }} - {{ post.date }}"
      >
        <figure class="h-entry">
          <div class="thumbnail">
            {{ images::responsive_thumbnail(path=post.colocated_path, src=image,
            default_size=128, sizes=[128,256], alt=post.title ~ " - " ~
            post.date, class="u-photo" ) -}}
          </div>
          <figcaption
            id="post-image-{{ post.date }}-{{ post.slug }}-{{ loop.index }}"
          >
            <p class="h-name">{{ post.title }}</p>
            <p>
              <time class="dt-published" datetime="{{ post.date }}"
                >{{ post.date }}</time
              >
              {%- if post.updated -%}
              <time class="dt-updated" datetime="{{ post.updated }}"
                >{{ post.updated }}</time
              >
              {%- endif -%}
            </p>
            <p class="p-author h-card">
              {%- for author in post.authors -%}
              <span class="p-name">{{ author }}</span>
              {%- if not loop.last -%}, {% endif -%} {%- endfor -%}
            </p>
            <p class="p-category">
              {%- set tags = post.taxonomies['tags'] -%} {%- for tag in tags -%}
              <span class="p-name">#{{ tag }}</span>
              {%- if not loop.last -%}, {% endif -%} {%- endfor -%}
            </p>
            <p class="u-url u-uid">{{ post.permalink | safe }}</p>
            <p class="e-summary">{{ post.description }}</p>
          </figcaption>
        </figure>
      </a>
      {{ hentry::hentry_json( name=post.title, summary=post.description,
      published=post.date, updated=post.updated, url=post.permalink,
      uid=post.permalink, authors=post.authors | default(value=[]),
      categories=post.taxonomies["tags"] | default(value=[]), ) }}
    </li>
    {% endfor -%} {% endif -%} {% endfor -%}
  </ul>
</section>
