{% if page.toc -%}
<nav aria-labelledby="toc">
  <details aria-labelledby="toc" open="true">
    <summary id="toc">{{ trans(key="toc_summary") }}</summary>
    <ol aria-labelledby="toc">
      {% for h1 in page.toc %}
      <li>
        <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
        {% if h1.children %}
        <ol>
          {% for h2 in h1.children %}
          <li>
            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
            {% if h2.children %}
            <ol>
              {% for h3 in h2.children %}
              <li>
                <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
                {% if h3.children %}
                <ol>
                  {% for h4 in h3.children %}
                  <li>
                    <a href="{{ h4.permalink | safe }}">{{ h4.title }}</a>
                    {% if h4.children %}
                    <ol>
                      {% for h5 in h4.children %}
                      <li>
                        <a href="{{ h5.permalink | safe }}">{{ h5.title }}</a>
                        {% if h5.children %}
                        <ol>
                          {% for h6 in h5.children %}
                          <li>
                            <a href="{{ h6.permalink | safe }}"
                              >{{ h6.title }}</a
                            >
                          </li>
                          {% endfor %}
                        </ol>
                        {% endif %}
                      </li>
                      {% endfor %}
                    </ol>
                    {% endif %}
                  </li>
                  {% endfor %}
                </ol>
                {% endif %}
              </li>
              {% endfor %}
            </ol>
            {% endif %}
          </li>
          {% endfor %}
        </ol>
        {% endif %}
      </li>
      {% endfor %}
    </ol>
  </details>
</nav>
{% endif %}
