{% include "components/page_header.html" %}
{% for year, posts in section.pages | group_by(attribute="year") %}
<section aria-labelledby="year-{{ year }}">
  <h1 id="year-{{ year }}">{{ year }}</h1>
  <ul aria-labelledby="year-{{ year }}">
    {% for post in posts %}
    <li aria-labelledby="post-{{ post.date }}-{{ post.slug }}-{{ loop.index }}">
      <a href="{{ post.permalink | safe }}" title="{{ post.title }}">
        <article>
          <hgroup id="post-{{ post.date }}-{{ post.slug }}-{{ loop.index }}">
            <h1>{{ post.title }}</h1>
            {% if post.draft %}<mark>(Draft)</mark>{% endif %}
            <p>
              <date>
                {{ post.date | date(format='%Y-%m-%d') }}
              </date>
            </p>
          </hgroup>
          {{ hooks::posts_below_title(page=post) }}
        </article>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endfor %}