{% extends "base.html" -%}
{% block content -%}
<hgroup>
  <h1>{{ section.title }}</h1>
  {{ section.content | safe }}
</hgroup>
{% for year, posts in section.pages | group_by(attribute="year") -%}
<section aria-labelledby="year-{{ year }}">
  <h1 id="year-{{ year }}">{{ year }}</h1>
  <ul aria-labelledby="year-{{ year }}">
    {% for post in posts -%}
    {% if post.extra.images -%}
    {% for image in post.extra.images -%}
    {# { set image = resize_image(path=post.path ~ image, width=256, height=256, format=config.extra.image_format,
    quality=config.extra.thumbnail_quality) %} #}
    <li aria-labelledby="post-{{ post.date }}">
      <a href="{{ post.permalink | safe }}" title="{{ post.title }} - {{ post.date }}">
        <figure>
          {{ images::responsive_thumbnail(path=post.colocated_path, src=image, default_size=128,
          sizes=[128,256],
          alt=post.title ~ " - " ~ post.date ) -}}
          <figcaption id="post-{{ post.date }}">
            {{ post.title }}
            <date>{{ post.date }}</date>
          </figcaption>
        </figure>
      </a>
    </li>
    {% endfor -%}
    {% endif -%}
    {% endfor -%}
  </ul>
</section>
{% endfor -%}
{% endblock content -%}