$breakpoints: (
    small: 30rem, // 480px @ 16px font-size
    medium: 48rem, // 768px @ 16px font-size
    large: 64rem, // 1024px @ 16px font-size
);

$container: (
    small: 24rem, // 384px @ 16px font-size
    medium: 32rem, // 512px @ 16px font-size
    large: 36rem, // 576px @ 16px font-size
);

$thumbnail: (
    small: 256px,
    medium: 100px,
    large: 200px,
);