@use "sass:map";
@import "_variables.scss";

#h-card {
  @extend %sr-only;
}

.h-card {
  position: relative;
  display: inline-block;
  min-width: calc(map.get($container, "small") - 3rem);
  max-width: calc(100% - 3rem);
  overflow: hidden;
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-width: initial;
  border-color: currentColor;
  border-style: solid;
  @extend %highlight-reset;

  @media (min-width: map.get($breakpoints, "medium")) {
    max-width: calc(map.get($container, "large") - 3rem);
  }

  > div > div[class^="p-"] {
    margin-bottom: 1rem;

    & > div[class^="p-"] {
      margin-bottom: 0.5rem;
    }
  }

  &.grid {
    @media (min-width: map.get($breakpoints, "large")) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      align-items: top;
      max-width: initial;
    }
  }

  .p-photo {
    width: auto;
    max-width: 100%;
    overflow: hidden;
    @media (min-width: map.get($breakpoints, "medium")) {
      width: 100%;
      max-width: calc(map.get($container, "large"));
    }
  }

  & ::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    z-index: -1;
    background-color: currentColor;
    filter: blur(100vw) brightness(0.111) opacity(0.2);
  }
}
