.spotify {
  background-color: #1db954;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  .spotify__icon {
    font-size: 2rem;
  }

  .spotify__text {
    font-size: 1.5rem;
  }
}
