name: Continuous Integration

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  check-format:
    name: Check Format
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Common Setup
        uses: ./.github/actions/common-setup
        with:
          node-version-file: package.json

      - name: Install dependencies
        run: pnpm install

      - name: format
        run: pnpm format:check

  analyze-typescript:
    name: Analyze TypeScript
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Common Setup
        uses: ./.github/actions/common-setup
        with:
          node-version-file: package.json

      - name: FTA Action
        id: fta-action
        uses: exiguus/fta-github-action@v0.1.2
        with:
          project_path: ./
          config_path: fta.config.json

      - name: Print Output Summary
        id: output-summary
        run: echo -e "\nSummary:\n${{ steps.fta-action.outputs.summary }}"

      - name: Print Output Details
        id: output-details
        run: echo -e "\nDetails:\n${{ steps.fta-action.outputs.details }}"

      - name: Upload Output Summary
        id: upload-output
        uses: actions/upload-artifact@v7
        with:
          name: output
          path: output.json
