name: e2e
on:
  workflow_dispatch: # Allows manual triggering

jobs:
  a11y:
    name: A11y
    timeout-minutes: 5
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Common Setup
        uses: ./.github/actions/common-setup
        with:
          node-version-file: package.json

      - name: A11 Test
        uses: ./.github/actions/a11y
        with:
          url: https://exiguus.github.io/zola-monoplain/
