name: Preview
concurrency: preview-${{ github.ref }}
on:
  pull_request:

jobs:
  deploy-preview:
    name: Deploy PR
    runs-on: ubuntu-latest

    outputs:
      preview_url: ${{ steps.deploy.outputs.deployment-url }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: taiki-e/install-action@v2
        with:
          tool: zola@0.22.1

      - name: Common Setup
        uses: ./.github/actions/common-setup
        with:
          node-version-file: package.json

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm build
        if: github.event.action != 'closed'

      - name: Deploy
        id: deploy
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ./themes/zola-monoplain/public
          preview-branch: gh-pages
          umbrella-dir: pr-preview
          action: auto

      - name: Info
        run: |
          echo "Preview URL: ${{ steps.deploy.outputs.deployment-url }}"

  lighthouse:
    name: Perf PR
    needs: deploy-preview
    if: always()
    timeout-minutes: 5
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Common Setup
        uses: ./.github/actions/common-setup
        with:
          node-version-file: package.json

      - name: Audit URLs and validate Budget
        uses: treosh/lighthouse-ci-action@v12
        with:
          urls: ${{ needs.deploy-preview.outputs.preview_url }}
          budgetPath: ./budget.json
          uploadArtifacts: true
          runs: 3

  a11y:
    name: A11y PR
    needs: deploy-preview
    if: always()
    timeout-minutes: 5
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Common Setup
        uses: ./.github/actions/common-setup
        with:
          node-version-file: package.json

      - name: A11 Test
        uses: ./.github/actions/a11y
        with:
          url: ${{ needs.deploy-preview.outputs.preview_url }}
